<div style="@rgbValues.Linear_Gradient; width:250px; height:200px;">

</div>
<br />
<div style="@rgbValues.Radial_Gradient; width:250px; height:200px;">

</div>

@code {

    [Parameter]
    public ColorController rgbValues { get; set; }

    protected override void OnInitialized()
    {
        rgbValues.Start();
        rgbValues.ColorChanged += (o, e) => StateHasChanged();
    }
}
