@typeparam TItem

@if (DataContainer is not null)
{

    <div class="KeanListbg" style="column-count:@DataContainer.GetListCountOnData();">
        @for (var i = 0; i < DataContainer.Data.Count; i++)
        {

            @foreach (var item in @DataContainer.GetObjectProperties())
            {
                var value = DataContainer.GetObjectPropertyValue(i, (string)item);
                @if (DataContainer.IsList(value))
                {

                    <table class="">
                        <tr>
                            <th style="color:papayawhip;">@item</th>
                        </tr>
                        <tr>
                            <td>
                                <ul class="KeanList">
                                    @foreach (var objectValue in (List<object>)value)
                                    {
                                        <li>@objectValue</li>

                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>

                    <br />
                }
            }
        }

    </div>
}

@code {

    [Parameter]
    public DynamicTypeContainer<TItem> DataContainer { get; set; }

}
