@typeparam TItem

@if (DataContainer is not null)
{

    <div class="KeanListbg" style="column-count:@DataContainer.GetListCountOnData();">
        @for (var i = 0; i < DataContainer.Data.Count; i++)
        {
            //Gets a list of objects aka property names
            @foreach (var propertyName in @DataContainer.GetObjectProperties())
            {
                // Gets the object aka property value in the data list on the selected index 
                var propertyValue = DataContainer.GetObjectPropertyValue(i, (string)propertyName);
                @if (DataContainer.IsList(propertyValue))
                {
                    <table class="">
                        <tr>
                            <th style="color:papayawhip;">@propertyName</th>
                        </tr>
                        <tr>
                            <td>
                                <ul class="KeanList">
                                    @foreach (var objectValue in (List<object>)propertyValue)
                                    {
                                        <li>@objectValue</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>

                    <br />
                }
            }
        }

    </div>
}

@code {

    [Parameter]
    public DynamicTypeContainer<TItem> DataContainer { get; set; }

}
