.Keanbtn {
    background-image: linear-gradient(black 20%, rgb(3, 86, 108) 80%);
    height:fit-content;
    width:fit-content;
    color:rgb(178, 0, 255);
    font-size:16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:2px solid rgb(41, 104, 135);
    
}
    .Keanbtn:hover {
        background-image: linear-gradient(black 20%, rgb(11, 176, 220)80%);
    }

.KeanCard {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(67,5,159,1) 20%, rgba(11,52,231,1) 40%, rgba(11,52,231,1) 60%, rgba(67,5,159,1) 80%);
    text-align: center;
    padding: 30px 30px 30px 30px;
    border: 3px solid black;
    border-collapse:collapse;
}

.KeanListbg {
    height: fit-content;
    width: fit-content;
    background-color: #007cdd;
    text-align: center;
    border:2px solid black;
}

.KeanList {
    background-color: #005ca4;
    list-style: decimal;
    list-style-position: outside;
    width: 350px;
    height: fit-content;
    color: papayawhip;
}

.innerTable {
    
    background-color: #005ca4;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid Black;
    width: 10%;
    color: papayawhip;
    text-align: center;
}

.outerTable {
    background-color: #007cdd;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid Black;
    width: 10%;
    color: papayawhip;
    text-align: center;
}

.KeanTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



