@page "/"
<div class="KeanCard">
    
    <TableDisplayComponent OuterStyle="outerTable" InnerStyle="innerTable" TableStyle="KeanTable" DynamictypeObject="_dynamicTypeContainer1"></TableDisplayComponent>
    <br />
    <TableDisplayComponent OuterStyle="outerTable" InnerStyle="innerTable" TableStyle="KeanTable" DynamictypeObject="_dynamicTypeContainer2"></TableDisplayComponent>
    <br />
    <TableDisplayComponent OuterStyle="outerTable" InnerStyle="innerTable" TableStyle="KeanTable" DynamictypeObject="_dynamicTypeContainer3"></TableDisplayComponent>
    <br />
    <TableDisplayComponent OuterStyle="outerTable" InnerStyle="innerTable" TableStyle="KeanTable" DynamictypeObject="_dynamicTypeContainer"></TableDisplayComponent>

</div>

@code {

    private ColorController _colorController;

    private DynamicTypeContainer<Sales> _dynamicTypeContainer;
    private DynamicTypeContainer<User> _dynamicTypeContainer1;
    private DynamicTypeContainer<Car> _dynamicTypeContainer2;
    private DynamicTypeContainer<Item> _dynamicTypeContainer3;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        _dynamicTypeContainer = new();
        _dynamicTypeContainer.Data = new()
            {
                new Sales()
                {
                    MontlySales = new()
                    {
                        10030.22f,
                        4521.15f,
                        3513123.15f,
                        1293781.12f,
                        130512.61f
                    },
                    WeeklySales = new()
                    {
                        1238.12f,
                        12341.23f,
                        135.12f,
                        1213.55f,
                        13151.23f,
                        1561.12f
                    }
                }
            };
        _colorController = new();

        _dynamicTypeContainer1 = new();
        _dynamicTypeContainer1.Data = new()
            {
                new User()
                {
                    Id = 1,
                    FirstName = "Kenneth",
                    LastName = "Andersen",

                },
                new User()
                {

                    Id = 2,
                    FirstName = "Torben",
                    LastName = "Fredsen",

                }
            };

        _dynamicTypeContainer2 = new();
        _dynamicTypeContainer2.Data = new()
            {
                new Car()
                {
                    Id = 1,
                    Model = "BMW",
                    Price = 800000,
                    Features = new() { "Drive", "Stop" }
                },
                new Car()
                {
                    Id = 1,
                    Model = "Audi",
                    Price = 955600,
                    Features = new() { "Drive", "Stop", "Bounce" }
                }
            };

        _dynamicTypeContainer3 = new();
        _dynamicTypeContainer3.Data = new()
            {
                new Item()
                {
                    Name = "Radio-D12",
                    Active = true,
                    CreatedAt = DateTime.Now
                },
                new Item()
                {
                    Name = "Oven-1",
                    Active = true,
                    CreatedAt = DateTime.Now.AddDays(-10).AddHours(-6)
                }
            };
    }
}

<br />
<div class="KeanCard">
    <ListDisplayComponent DataContainer="_dynamicTypeContainer"></ListDisplayComponent>
</div>
<br />

<BackGroundComponent rgbValues="_colorController"></BackGroundComponent>

